version: '3.4'

x-airflow-common:
  &airflow-common
  # Usamos la imagen oficial de Airflow
  image: ${AIRFLOW_IMAGE_NAME:-apache/airflow:2.7.1}
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth'
    # ESTA LÍNEA INSTALA LAS LIBRERÍAS QUE NECESITAN TUS SCRIPTS EN AIRFLOW:
    _PIP_ADDITIONAL_REQUIREMENTS: ${_PIP_ADDITIONAL_REQUIREMENTS:-pandas numpy pyarrow fastparquet}
  volumes:
    - ./etl/dags:/opt/airflow/dags
    - ./etl/logs:/opt/airflow/logs
    - ./etl/plugins:/opt/airflow/plugins
    # Mapeamos la carpeta scripts DENTRO de dags para poder importarla en python
    - ./etl/scripts:/opt/airflow/dags/scripts
    # VOLUMEN COMPARTIDO PARA DATOS
    - ./data:/opt/airflow/data
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    &airflow-common-depends-on
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    restart: always

  airflow-init:
    <<: *airflow-common
    command: version
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_UPGRADE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: ${_AIRFLOW_WWW_USER_USERNAME:-admin}
      _AIRFLOW_WWW_USER_PASSWORD: ${_AIRFLOW_WWW_USER_PASSWORD:-admin}
    user: "0:0"

  streamlit-dashboard:
    build: ./visualization
    container_name: streamlit_dashboard
    ports:
      - "8501:8501"
    volumes:
      # Streamlit necesita ver los mismos datos que Airflow generó
      - ./data:/app/data
      # Mapeamos el código para poder editarlo sin reconstruir la imagen
      - ./visualization/app.py:/app/app.py
    restart: always
    depends_on:
      - airflow-webserver

volumes:
  postgres-db-volume: